asgiref==3.2.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
dj-database-url==0.5.0
Django==3.0.5
django-allauth==0.44.0
django-crispy-forms==1.9.0
gunicorn==20.0.4
oauthlib==3.1.0
Pillow==7.1.2
psycopg2==2.8.5
pudb==2020.1
pusher==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.3
PyHamcrest==2.0.2
pylint==2.4.4
pylint-django==2.0.15
pylint-plugin-utils==0.6
PyNaCl==1.4.0
pyOpenSSL==19.1.0
python-dateutil==1.5
python-dotenv==0.15.0
pytz==2019.3
requests==2.24.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
sendgrid==6.6.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
urwid==2.1.2
virtualenv==20.0.18